# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement et configurations sensibles
.env
./config/config.json

# Fichiers système
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Cache et dépendances
package-lock.json
